body{
    background-color: rgb(228, 240, 250);
}

img{
    border-radius: 90%;
}

hr{
    border-color: rgb(255, 255, 255);
    border-style: dotted none none;
    border-width: 3px;
    width: 98%;

}