<%- include("partials/header") -%>

<h1>Home</h1>

<p> <%= homeContent %> </p>
<br>
<br>
<a href="/compose"><button type="button" class="create-post btn">Create New Post</button></a>


<%- include("partials/footer") -%>