.typography--variant-h1 {
    font-size:6rem;
    font-weight: 500;
 
  }
  
  .typography--variant-h2 {
    font-size: 3.75rem;
    font-weight: 500;
  
  }
  
  .typography--variant-h3 {
    font-size: 3rem;
    font-weight: 500;
    
  }
  
  .typography--variant-h4 {
    font-size: 1.5rem;
    font-weight: 600;
    
  }
  
  .typography--variant-h5 {
    font-size: 1.35rem;
    font-weight: 700;
   
  }
  
  .typography--variant-h6 {
    font-size: 1rem;
    font-weight: 500;
  
  }
  
  .typography--variant-subheading1 {
    font-size: 1rem;
    font-weight: 500;
    
  }
  
  .typography--variant-subheading2 {
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .typography--variant-text1 {
    font-size: 0.9rem;
    color: rgb(85, 85, 85);
  
  }
  
  .typography--variant-text2 {
    font-size: 0.75rem;
    color: rgb(168, 168, 168);
    font-weight: 600;
  }
