html {
    background-color: #E4E9FD;
    background-image: linear-gradient(
  135deg,
  hsl(262deg 63% 70%) 0%,
  hsl(252deg 84% 71%) 25%,
  hsl(248deg 99% 64%) 49%,
  hsl(295deg 75% 49%) 74%,
  hsl(0deg 100% 100%) 100%
);
    min-height: 1000px;
    font-family: 'helvetica neue light', 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box1 {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  .box2 {
    padding-right: 30px;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  #heading {
    background-color: #7030df;
    text-align: center;
  }
  
  .item {
    padding: 10px;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    
    text-decoration: line-through;
    text-decoration-color: #7030df;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  .add {
    padding: 7px;
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #7030df;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  .clear{
    padding: 7px;
   margin: 10px;
   border-radius: 5px;
    border-color: transparent;
    background-color: #7030df;
    color: #fff;
    font-size: 20px;
    padding-bottom: 6px;
    border-width: 0;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  @-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgba(75, 0, 209, 0.75);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
      background-color: rgba(75, 0, 209, 0.75);
    }
  }
  
  button:hover, button:focus, button:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: rgb(127, 68, 238);
   
    color: white;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 0 #7030df;
  }
  
  ::placeholder {
    color: rgb(139, 139, 139);
    opacity: 1;
  }
  
  footer {
    color: white;
    text-align: center;
    margin-top: 5%;
  }