body{
    background-color: rgb(228, 240, 250);
}

img{
    border-radius: 90%;
}

hr{
    border-color: rgb(199, 194, 194);
    border-style: dotted none none;
    border-width: 3px;
    width: 98%;
    height: 10px;

}

h1,h3{
    color: #0b9696;
}