.Card {
    border-style: solid;
    border-color: rgba(236, 236, 236, 0.612);
    border-width: 2px;
    border-radius: 16px;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 1px 1px 20px rgba(175, 175, 175, 0.26);
  }
  