.comDiv{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-left: -1rem;
}

.Comment{
    background-color: rgb(245, 245, 246);
    border-radius: 10px;
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-left: -1rem;
}

.CommentImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.CommentText{
    color: grey;
}