.LikeShare{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.likeNum{
    font-size: 1rem;
    color: #464646;
}

.LikeShare input{
    border: none;
    font-size: 1rem;
    width: 10%;
    height: 20px;
    border-radius: 5px;
    margin-right: -1rem;
    margin-left: -2rem;
}

  [for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    align-self: center;  
    transition: color 0.2s ease-in-out;
  }
  
  [for="heart"]:hover {
    color: grey;
  }
  
  [for="heart"]::selection {
    color: none;
    background: transparent;
  }

  [id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }
  
  
  
  @keyframes heart {0%, 17.5% {font-size: 0;}}

.LikeShare button{
    float: right;
    margin-right: 1rem;
}