.alignDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0.5rem 0rem 0.5rem 0rem;
}


.line{  
    border-width: 0px 2px 0px 0px;
    border-color: rgba(146, 146, 146, 0.2);
    border-style: dashed;
    margin: 0.1rem 3rem 0.1rem -10rem;
}

.content{
    font-size: 0.7rem;
    padding-left: 1.5rem;
    line-height: 0.1rem;
    margin-top: -0.9rem;
}



