
.line{  
    border-width: 0px 2px 0px 0px;
    border-color: rgba(146, 146, 146, 0.2);
    height: auto;
    position: relative;
    right: 50%;
    border-style: dashed;
}

.content{
    text-align: center;
    position: relative;
}