.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-gap: 0.1rem;
  border-radius: 16px;
  padding-top:1rem;
  padding-bottom:1rem;
  margin: 1rem;
  max-width: 40%;
  box-shadow: 0 1px 5px rgba(130, 130, 130, 0.26);
    
  }

.line{  
    border-width: 0px 2px 0px 0px;
    border-color: rgba(146, 146, 146, 0.2);
    height: auto;
    position: relative;
    right: 50%;
    border-style: dashed;
}

.content{
    text-align: center;
    position: relative;
}